##### BEGIN - {{ envname }} #####                                                                                                                                                                                                            
#template version: 1.1                                                                                                                                                                                                                      
                                                                                                                                                                                                                                            
RewriteEngine On                                                                                                                                                                                                                            
                                                                                                                                                                                                                                            
<Location /{{envname}}/>                                                                                                                                                                                                                     
  AuthType openid-connect                                                                                                                                                                                                                   
  <RequireAny>
    Require claim preferred_username:{{ username }}                                                                                                                                                                                           
    {% for admin in admins %}
    Require claim preferred_username:{{ admin }}                                                                                                                                                                                           
    {% endfor %}
  </RequireAny>
</Location>                                                                                                                                                                                                                                 
                                                                                                                                                                                                                                            
#noVNC                                                                                                                                                                                                                                      
ProxyPass /{{ envname }}/novnc/        http://{{ip_addr}}:5801/                                                                                                                                                                             
ProxyPassReverse /{{ envname }}/novnc/ http://{{ip_addr}}:5801/                                                                                                                                                                             
                                                                                                                                                                                                                                            
RewriteCond %{HTTP:Connection} Upgrade [NC]                                                                                                                                                                                                 
RewriteCond %{HTTP:Upgrade} websocket [NC]                                                                                                                                                                                                  
RewriteRule /{{ envname }}/novnc/(.*)  ws://{{ip_addr}}:5801/$1 [P,L]                                                                                                                                                                       
                                                                                                                                                                                                                                            
RewriteCond %{HTTP:Upgrade} !=websocket [NC]                                                                                                                                                                                                
RewriteRule /{{ envname }}/novnc/(.*)          http://{{ip_addr}}:5801/$1 [P,L]                                                                                                                                                             
                                                                                                                                                                                                                                            
#ttyd                                                                                                                                                                                                                                       
ProxyPass /{{ envname }}/ttyd/             http://{{ip_addr}}:7681/                                                                                                                                                                        
ProxyPassReverse /{{ envname }}/ttyd/      http://{{ip_addr}}:7681/                                                                                                                                                                        
                                                                                                                                                                                                                                            
RewriteCond %{HTTP:Upgrade} =websocket [NC]                                                                                                                                                                                                 
RewriteRule /{{ envname }}/ttyd/(.*)           ws://{{ip_addr}}:7681/$1 [P,L]                                                                                                                                                              
                                                                                                                                                                                                                                            
RewriteCond %{HTTP:Upgrade} !=websocket [NC]                                                                                                                                                                                                
RewriteRule /{{ envname }}/ttyd/(.*)           http://{{ip_addr}}:7681/$1 [P,L]                                                                                                                                                            
                                                                                                                                                                                                                                            
#vscode                                                                                                                                                                                                                                     
ProxyPass /{{ envname }}/vscode/             http://{{ip_addr}}:3300/                                                                                                                                                                    
ProxyPassReverse /{{ envname }}/vscode      http://{{ip_addr}}:3300/                                                                                                                                                                    
                                                                                                                                                                                                                                            
RewriteCond %{HTTP:Upgrade} =websocket [NC]                                                                                                                                                                                                 
RewriteRule /{{ envname }}/vscode/(.*)           ws://{{ip_addr}}:3300/$1 [P,L]                                                                                                                                                          
                                                                                                                                                                                                                                            
RewriteCond %{HTTP:Upgrade} !=websocket [NC]                                                                                                                                                                                                
RewriteRule /{{ envname }}/vscode/(.*)           http://{{ip_addr}}:3300/$1 [P,L]                                                                                                                                                        
                                                                                                                                                                                                                                            
##### END - {{ envname }} #####   