<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>LX.NCR</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="Website for beginner CS students to gain a familiarity with Linux" />
  <link rel="icon" type="image/png" href="https://ncr.cse.unr.edu/static/favicon.png">
  <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='output.css') }}"> -->
  <link rel="stylesheet" type="text/css" href="/static/lx.css">
</head>
  <body>
    <div id="overlay"></div>
    <div class="nav">
      <div>
        <h1>Nevada Cyber Range</h1>
      </div>
      <div>
        <a href="/logout">Logout</a>
      </div>
    </div>
    <div class="layout">
      <div class="child">
        <div class="dropdown">
          <h2>Environments:</h2>
          {% if envs == [] %}
            <p style="text-align: center;">No environments found</p>
            <p style="text-align: center;">Please contact ncr@cse.unr.edu for an environment</p>
          {% endif %}
          {% if envs != [] %}
          <a style="align-self: flex-end;" href="/api/refresh">
            <button class="dropdown-button">Refresh</button>
          </a>
          {% endif %}
          <div class="dropdown-content show">
            {% for env in envs %}
          <div class="entry">
            <div class="header">
              <h3>{{env.course}}: {{env.machine_name}}</h3>
            </div>
            <div class="controls">
              {% if env.status == 'running' %}
                <p class="online">STATUS: <code>{{env.status}}</code></p>  
              {% endif %}
              {% if env.status == 'stopped' %}
                <p class="offline">STATUS: <code>{{env.status}}</code></p>  
              {% endif %}
              {% if env.status == 'undefined' %}
                <p>STATUS: <code>{{env.status}}</code></p>  
              {% endif %}
              <button id="startbutton{{env.vmid}}" class="manager-button start">Start</button>
              <button id="stopbutton{{env.vmid}}" class="manager-button stop">Stop</button>
            </div>
            <div class="services">
              {% if env.status == 'stopped' %}
              <div class="service inactive">
                <a href="{{env.machine_name}}/novnc/vnc.html?path={{env.machine_name}}/novnc/websockify&autoconnect=true&resize=remote&quality=8&compression=2" target="_blank">
                  <h4>Desktop</h4>
                  <img src="static/desktop-solid.svg" type="image/svg+xml" />
                </a>
              </div>
              <div class="service inactive">
                <a href="{{env.machine_name}}/vscode/" target="_blank">
                  <h4>VSCode</h4>
                  <img src="static/code-solid.svg" type="image/svg+xml" />
                </a>
              </div>
              <div class="service inactive">
                <a href="{{env.machine_name}}/ttyd/" target="_blank">
                  <h4>Terminal</h4>
                  <img src="static/terminal-solid.svg" type="image/svg+xml" />
                </a>
              </div>
              {% endif %}
              {% if env.status == 'running' %}
              <div class="service">
                <a href="{{env.machine_name}}/novnc/vnc.html?path={{env.machine_name}}/novnc/websockify&autoconnect=true&resize=remote&quality=8&compression=2" target="_blank">
                  <h4>Desktop</h4>
                  <img src="static/desktop-solid.svg" type="image/svg+xml" />
                </a>
              </div>
              <div class="service">
                <a href="{{env.machine_name}}/vscode/" target="_blank">
                  <h4>VSCode</h4>
                  <img src="static/code-solid.svg" type="image/svg+xml" />
                </a>
              </div>
              <div class="service">
                <a href="{{env.machine_name}}/ttyd/" target="_blank">
                  <h4>Terminal</h4>
                  <img src="static/terminal-solid.svg" type="image/svg+xml" />
                </a>
              </div>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="footer">
          <p>Email ncr@cse.unr.edu for support</p>
        </div>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
      const userDropdownButton = document.getElementById('userDropdownButton');
      const userDropdownContent = document.getElementById('userDropdownContent');
      const  startButtons = document.querySelectorAll('.start');
      const  stopButtons = document.querySelectorAll('.stop');
      const  restartButtons = document.querySelectorAll('.restart');
      const inactiveServices = document.querySelectorAll('.inactive');
      const overlay = document.getElementById('overlay');
      startButtons.forEach(button => {
        button.addEventListener('click', async function() {
          const vmid = button.id.replace('startbutton', '');
          try {
            document.body.style.cursor='wait';
            overlay.style.display = 'block';
            const response = await fetch(`/api/${vmid}/start`, {method: 'POST'});
            if (!response.ok) {
              throw new Error('Internal Server Error');
            }
            const result = await response.json();
            document.body.style.cursor='default';
            overlay.style.display = 'none';
            window.location.href = '/';
          } catch (error) {
            alert(error.message);
          }
        });
      });

      stopButtons.forEach(button => {
        button.addEventListener('click', async function() {
          const vmid = button.id.replace('stopbutton', '');
          try {
            document.body.style.cursor='wait';
            overlay.style.display = 'block';
            const response = await fetch(`/api/${vmid}/stop`, {method: 'POST'});
            if (!response.ok) {
              throw new Error('Internal Server Error');
            }
            const result = await response.json();
            document.body.style.cursor='default';
            overlay.style.display = 'block';
            window.location.href = '/';
          } catch (error) {
            alert(error.message);
          }
        });
      });

      inactiveServices.forEach(service => {
        service.addEventListener('click', async function(event) {
          event.preventDefault();
          alert('Please start the environment first');
        });
      });
    });
    </script>
  </body>
</html>

<!-- 'managed_courses': managed_courses, 'managed_by': managed_by, 'computers': computers -->
